<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TSImagePickerController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDE4F3E11CD494680055AC3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE4F3FA1CD494680055AC3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDE4F4051CD494680055AC3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
